.chat-main
  .chat-header
    .chat-header__group
      %h2.chat-header__group__name
        = @group.name
      %ul.chat-header__group__menber
        Member：
        %li.chat-header__group__menber__list
          - @group.group_users.each do |group_user|
            = group_user.user.name

    =link_to edit_group_path(current_user) do
      .edit-btn Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message],html:{id:"new-message"} do |f|
      .input-box
        = f.text_field :content, id: "message_content", placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'